@import '../../css/vars.css';

.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--white);
  padding: var(--tiny-spacing) var(--small-spacing);
}

.logout {
  margin-left: auto;
  margin-right: var(--medium-spacing);
}
