@import '../css/vars.css';

.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 350px;
  min-height: 350px;
  background-color: var(--mischka-grey);
  border: 1px solid var(--athens-grey);
  border-radius: 2px;
  padding: 24px;
}

.actions-container {
  display: flex;
}

.file-container {
  display: flex;
  flex-direction: column;
  height: 75%;
  margin-top: 16px;
  padding: 16px;
  background-color: var(--athens-grey);
}

.icon {
  color: var(--blue-ribbon);
  font-size: 32px;
}

.input {
  width: 70px;
}

.input-wrapper {
  display: flex;
}

.modal-actions {
  display: flex;
  /* justify-content: space-between; */
  margin-top: auto;
  margin-left: auto;
}
