@import '../css/vars.css';

.content {
  display: flex;
  flex-direction: column;
  width: 350px;
  min-height: 350px;
  background-color: var(--mischka-grey);
  border: 1px solid var(--athens-grey);
  border-radius: 2px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.modal-actions {
  display: flex;
  margin-top: auto;
  margin-left: auto;
}
