@import '../css/vars.css';

.file-container {
  display: flex;
  flex-direction: column;
  height: 75%;
  margin: 16px 0px;
  padding: var(--base-spacing);
  background-color: var(--athens-grey);
}

.icon {
  color: var(--blue-ribbon);
  font-size: 32px;
}

.input {
  width: 70px;
  margin-bottom: var(--small-spacing);
}

.input-wrapper {
  display: flex;
}

.add-action {
  margin-right: auto;
}
