@import '../css/vars.css';

.file-container {
  display: flex;
  flex-direction: column;
  height: 75%;
  margin: 16px 0px;
  padding: 16px;
  background-color: var(--athens-grey);
}

.icon {
  color: var(--blue-ribbon);
  font-size: 32px;
}

.input {
  width: 70px;
}

.input-wrapper {
  display: flex;
}
