@import '../css/vars.css';

.content {
  display: flex;
  flex-direction: column;
  width: 350px;
  min-height: 350px;
  background-color: var(--mischka-grey);
  border-radius: var(--border-radius);
  padding: var(--large-spacing);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.modal-actions {
  display: flex;
  margin-top: auto;
  margin-left: auto;
}
