@import '../css/vars.css';

.folder-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-item {
  margin-bottom: var(--base-spacing);
}

.folders-loading {
  display: flex;
  justify-content: center;
  width: calc(100vw - 300px);
}
