@import '../css/vars.css';

.button {
  height: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-right: 4px;
  min-width: 80px;
}

.icon {
  font-size: 32px;
}

.folder-icon {
  color: var(--blue-ribbon);
}

.item-name {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 80px;
}
