@import '../css/vars.css';
.file-content {
  display: flex;
  flex-direction: column;
  width: 75vw;
  padding: 24px;
  background-color: var(--athens-grey);
  min-height: 75vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.close {
  margin-left: auto;
}

.heading {
  border-bottom: 1px solid var(--silver);
  padding-bottom: 4px;
}

.content {
  background-color: var(--mischka-grey);
  border-radius: 4px;
  padding: 0 8px;
  overflow-y: auto;
  height: 100%;
}
