@import '../css/vars.css';

.button {
  height: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-right: var(--tiny-spacing);
  min-width: 80px;
}

.icon {
  font-size: 32px;
  color: var(--dodger-blue);
}

.icon-selected {
  color: var(--mine-shaft);
}

.item-name {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 80px;
}
