@import '../css/vars.css';

.folder-container {
  display: inline-block;
  vertical-align: middle;
}

.folder-children {
  margin-left: 16px;
}

.active {
  background-color: var(--blue-ribbon);
  border-radius: 4px;
}

.active-button {
  color: var(--white);
}
