@import '../css/vars.css';

.form-container {
  background-color: var(--mischka-grey);
  width: 460px;
  margin-top: var(--big-spacing);
}

.items-list {
  padding: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: var(--base-spacing) var(--small-spacing);
}

.label {
  color: var(--mine-shaft);
  padding-bottom: var(--tiny-spacing);
  padding-left: var(--small-spacing);
}

.input {
  height: 34px;
  padding: var(--small-spacing);
  border-radius: var(--border-radius);
  border: 1px solid var(--silver);
  font-size: var(--font-size-x-large);
  color: var(--black);
}
