:root {
  /* colors */
  --white: #ffffff;
  --black: #000000;
  --athens-grey: #F9FAFB;
  --mischka-grey: #E5E5E8;
  --silver: #a1a1a1;
  --ghost: #c9ced5;
  --mine-shaft: #333132;
  --blue-ribbon: #005CF9;
  --dodger-blue: #2E73FA;
  --zumthor-blue: #e6efff;
  --hawkes-blue: #D2E2FE;
  --coral: #FF8042;
  --laurel-green: #0cab00;
  --valencia: #d93a39;

  /* font-sizes */
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-x-large: 18px;

  /* spacing - padding/margin */
  --very-tiny-spacing: 2px;
  --tiny-spacing: 4px;
  --small-spacing: 8px;
  --medium-spacing: 12px;
  --base-spacing: 16px;
  --large-spacing: 24px;
  --big-spacing: 32px;
}
